env/
__pycache__/
data/queue.txt
data/queue.txt.lock
data/config/settings
data/graveyard/*
data/gifs/*

backgrounds
config/settings
.envrc
graveyard
queue.txt
queue.txt.lock
letter_broken
text_queue.txt
text_queue.txt.lock
